@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>WELCOME TO ANIX INVENTORY</h1>
    <p class="lead">This Is Anix inventory Shop Shopping is an activity in which a customer browses the available goods or services presented by one or more retailers with the potential intent to purchase a suitable selection of them.</p>
    
</div>
